<div class="card-container">
  <article class="card">
    <div class="background">
      <img
        src="../../../../../assets/images/jaikisha_about_img.png"
        alt="profile"
      />
    </div>
    <div class="content">
      <h2>Jaikishan Patil &#127468;&#127463;</h2>
      <p>
        Full stack engineer at
        <a href="htts://www.google.com" title="google" target="_blank"
          >Google</a
        >
      </p>
      <p>Helping With</p>
      <ul class="chips">
        <li class="chip">Angular</li>
        <li class="chip">NodeJs</li>
        <li class="chip">MySQL</li>
      </ul>
      <div class="action-buttons">
        <a href="#" title="test"> Book a Programmer </a>
        <a href="#" class="secondary" title="learn more"> Learn More </a>
      </div>
    </div>
  </article>
</div>
