<div class="card-container" >
  <article class="card" *ngFor="let item of data">
    <div class="background">
      <ng-container *ngIf="item?.image && item?.image.length; else elseTemplate">
        <img
          src="{{item.image}}"
          alt="profile"
        />
      </ng-container>
      <ng-template #elseTemplate>
        <img
          src="../../../../../assets/images/noneProfile.png"
          alt="profile"
        />
      </ng-template>
    </div>
    <div class="content">
      <h2>{{item.name}}</h2>
      <p *ngIf="item?.description">
        {{item.description}}
        <!-- <a href="htts://www.google.com" title="google" target="_blank"
          >Google</a
        > -->
      </p>
      <p>Helping With</p>
        <ul class="chips" *ngIf="item?.technologies.length">
          <li class="chip" *ngFor="let chips of item?.technologies">{{chips}}</li>
        </ul>
    
      <div class="action-buttons" *ngIf="item.isActionButtonsEnable">
        <a title="test" (click)="book(item)">Learn More</a>
        <!-- <a class="secondary" title="learn more"> Learn More </a> -->
      </div>
    </div>
  </article>
</div>
