<header class="primary-header">
  <nav class="navbar container">
    <a href="#" class="logo">LOGO</a>
    <ul class="nav-list">
      <li>
        <a href="#" class="nav-link">Home</a>
      </li>
      <li>
        <a href="#" class="nav-link">Services</a>
      </li>
      <li>
        <a href="#" class="nav-link">Testimonials</a>
      </li>
      <li>
        <a href="#" class="nav-link">Pricing</a>
      </li>
      <li>
        <a href="#" class="nav-link">Contact</a>
      </li>
      <li>
        <a href="#" class="nav-link">About us</a>
      </li>
    </ul>
    <a href="#" class="button">Contact Us</a>
  </nav>
</header>