<header class="header" id="header">
  <nav class="nav container">
    <a href="" class="nav_logo">{{headerData?.owner_name}}</a>
    <div class="nav_menu" id="nav-menu" [class.showMenu]="isShowMenu">
      <ul class="nav_list grid">
        <li class="nav_item" *ngFor="let item of headerData?.navigation_menu">
          <a href="#{{item.href}}" class="nav_link" [ngClass]="{'active_nav': item.href == activeNav}" (click)="closeMenu(false , item.href)">
            <i class= "{{item.icon}} nav_icon"></i> {{item.label}}
          </a>
        </li>
      </ul>
      <i class="uil uil-times nav_close" id="nav-close" (click)="closeMenu(false)"></i>
    </div>
    <div class="nav_btns">
      <!-- Theame change -->
      <i class="uil uil-moon change-theame" id="theame-button"></i>
      <div class="nav_toggle" id="nav-toggel" (click)="showMenu(true)">
        <i class="uil uil-apps"></i>
      </div>
    </div>
  </nav>
</header>
