<p>test works!</p>

<!-- ################   Test for Search Module   ##################-->
<app-dyamic-search (change)="onChange($event)"></app-dyamic-search>
<div class="container">
  <p>{{ text }}</p>
</div>
<!-- <div class="container">
  <app-dynamic-search-second></app-dynamic-search-second>
</div> -->

<!-- ################   Test for Dynamic Table Module   ##################-->
<div class="container">
  <p class="text-center text-danger">Angular Dynamic Table</p>
  <app-dynamic-table [columns]="columns" [data]="data" [totalItems]="data.length"
  (onSearchChange)="onSearchTable($event)" (onClickChange)="onTableRowClick($event)"></app-dynamic-table>
</div>

<ng-template #nameColumnTemplate let-row let-rowIndex="rowIndex" let-column="column" >
  <span class="text-danger">{{row.name}}</span> 
</ng-template>
<ng-template #phoneColumnTemplate let-row let-rowIndex="rowIndex" let-column="column">
  {{row.phone}}
</ng-template>

<div>
  <h1>Image carousel</h1>
  <dynamic-carousel [images]="images"></dynamic-carousel>
<br>
<br>
<br>
</div>

<br>
<br>
<h1>Profile card Test</h1>
<profile-card (bookMe)="book($event)"></profile-card>
<br>
<br>
<button mat-raised-button color="primary" (click)="click()">Click me</button>


<input type="file" (change)="onFileChange($event)" />
<button (click)="upload()">Upload</button>

<br>
<br>
<br>
<!-- to upload imaege in firebae -->
<input type="file" accept="image/*" (change)="onSelectFile($event)" />
<br>
<br>
<br>
<div>
<h1>Image upload to cloudinary from NodeJs api</h1>
<input type="file" accept="image/*" name="" id="" (change)="onFileChange($event)">
<button (click)="uploadImages()">Upload</button>
<br>
<br>
<br>
<input type="file" accept="image/*" multiple name="" id="" (change)="onFileChangeMultiple($event)">
<button (click)="uploadImagesMultiple()">Upload multiple</button>
</div>