<p>test works!</p>

<!-- ################   Test for Search Module   ##################-->
<app-dyamic-search (change)="onChange($event)"></app-dyamic-search>
<div class="container">
  <p>{{ text }}</p>
</div>
<!-- <div class="container">
  <app-dynamic-search-second></app-dynamic-search-second>
</div> -->

<!-- ################   Test for Dynamic Table Module   ##################-->
<div class="container">
  <p class="text-center text-danger">Angular Dynamic Table</p>
  <app-dynamic-table [columns]="columns" [data]="data" [totalItems]="data.length"></app-dynamic-table>
</div>

<ng-template #nameColumnTemplate let-row let-rowIndex="rowIndex" let-column="column" >
  <span class="text-danger">{{row.name}}</span> 
</ng-template>
<ng-template #phoneColumnTemplate let-row let-rowIndex="rowIndex" let-column="column">
  {{row.phone}}
</ng-template>

