.table-wrapper {
  overflow-x: auto;
  max-height: 300px;
  border-bottom: 1px solid #ccc;
}

.table {
  overflow: auto;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 15px;
  box-shadow: 2px 2px 2px 2px #ddd;
}
.table th {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 3;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  cursor: pointer;
}
thead tr th{
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
tbody tr td{
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
tbody tr td:hover{
  overflow: visible;
}
table tbody tr{
  border-radius: 20%;
}

.table thead {
  background-color: #f2f2f2;
}
.table tbody tr td {
  text-overflow: ellipsis;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.table tbody::-webkit-scrollbar {
  width: 10px;
}

.table tbody::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.table tbody::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.active {
  background-color: rgba(34,34,34,0.8);
}

.pagination {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  border: 1px solid grey;
  box-shadow: 1px 0.5px 0.5px #4a504a80;
}

.pagination a {
  color: #337ab7;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination a.active {
  background-color: #337ab7;
  color: #fff;
}

.table-head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8px 2px;
}

.totalPage {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-items: center;
  margin-left: 1vh;
}
.row-dropdown {
  outline: none;
  border: none;
  width: 4rem;
}
.select-options {
  cursor: pointer;
  width: 4rem;
  margin: 0px;
  padding: 2px;
  outline: none;
  left: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-12px, 0px);
  border-radius: 10px;
}

.page-container{
  max-width: 960px;
  margin: 2px;
}
.pageCount{
  display: flex;
  min-width: 21rem;
  align-items: baseline;
}
.paget-text{
  cursor:auto;
  padding-right: 10px;
}