.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    width: 320px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 8px 16px #dce1e1;
}

.carousel-container img {
    display: none;
    border-radius: 15px;
    position: absolute;
    object-fit: fill;
}


.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -165px;
    display: flex;
    padding: 0;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: flex-end;
}

.dot {
    cursor: pointer;
    height: 9px;
    width: 9px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #ccc;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.icon-carousel {
    color: #ccc;
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover {
    opacity: 0.9;
}

.icon-carousel:active {
    opacity: 0.5;
}

.icon-prev,
.icon-next {
    font-size: 2.5rem;
}