.main{
    height: 80%;
    margin: 7.5rem 2px 0 2px;
}
.home{
    overflow: auto;
    z-index: -1px;
    position: absolute;
    height: 83%;
    width: 100%;
    margin: 3px 0px 0px 0px;
    padding-bottom: 1rem;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 8rem),
        0 100%
    );
    background-color: aqua;
}
.m1{
    
}
.m2{

}