<app-header></app-header>
<main class="main">
    <!-- home section -->
    <section class="home section" id="home">
        <div class="home_container container grid">
            <div class="home_content grid">
                <div class="home_social">
                    <a href="#" class="home_social-icon">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                    <a href="#" class="home_social-icon">
                        <i class="uil uil-dribbble"></i>
                    </a>
                    <a href="#" class="home_social-icon">
                        <i class="uil uil-github-alt"></i>
                    </a>
                </div>
                <div class="home_img">
                    <svg class="home_blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                            130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                            97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                            0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                            <image class="home_blob-img" x="14" y="-8" xlink:href="../../../../../assets/images/jaikishan_img1.png"/>
                        </g>
                    </svg>
                </div>
                <div class="home_data">
                    <h1 class="home_title">Hi, Iam Jaikishan</h1>
                    <h3 class="home_subtitle">Full stack devloper</h3>
                    <p class="home_description"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, nesciunt sit! Commodi dolorem est quod, adipisci quo veniam explicabo corrupti iure tenetur ab necessitatibus</p>
                    <a href="#contact" class="button button--flex">
                        Contact Me <i class="uil uil-message button_icon"></i>
                    </a>
                </div>
            </div>
            <div class="home_scroll">
                <a href="#about" class="home_scroll-button button--flex">
                    <i class="uil uil-mouse-alt home_scroll-mouse"></i>
                    <span class="home_scroll-name">
                        Scroll Down <i class="uil uil-arrow-down home_scroll-arrow"></i>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section class="about section" id="about">
        <h2 class="section_title">About Me</h2>
        <span class="section_subtitle">My Introduction</span>

        <div class="about_container container grid">
            <img src="../../../../../assets/images/jaikisha_about_img.png" alt="" class="about_img">

            <div class="about_data">
                <p class="about_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatem adipisci, eius quos delectus molestiae harum tempore vero rem, magni ducimus, consequuntur dolor a architecto deleniti esse nulla. Architecto, illum?
                </p>
                <div class="about_info">
                    <div>
                        <span class="about_info-title">01+</span>
                        <span class="about_info-name">Years <br> experience</span>
                    </div>
                    <div>
                        <span class="about_info-title">09+</span>
                        <span class="about_info-name">Completed <br> projects</span>
                    </div>
                    <div>
                        <span class="about_info-title">01+</span>
                        <span class="about_info-name">Companies <br> Worked</span>
                    </div>
                </div>
                <div class="about_buttons">
                    <a download="" href="../../../../../assets/pdf/Jaikishan Dhanaji Patil Resume(new).pdf" class="button button--flex">
                        Download CV<i class="uil uil-download-alt button_icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- Skill Section -->
    <section class="skills section" id="skills">
        <h2 class="section_title">Skills</h2>
        <span class="section_subtitle">My Technical Level</span>

        <div class="skills_container container grid">
            <div>
                <!-- skill 1 -->
                <div class="skill_content skills_open" [ngClass]="{ 'skill_content skills_open': isActive('One') }" (click)="setActive('One')">
                    <div class="skills_header" id="skills_header">
                        <i class="uil uil-brackets-curly skills_icon"></i>
                        <div>
                            <h1 class="skills_title">Frontend Devloper</h1>
                            <span class="skills_subtitle">More than 1 years</span>
                        </div>
                        <i class="uil uil-angle-down skills_arrow"></i>
                    </div>
                    <div class="skills_list grid" *ngIf="isActive('One')">
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">HTML</h3>
                                <span class="skills_number">90%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_html"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">CSS</h3>
                                <span class="skills_number">60%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_css"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">JavaScript</h3>
                                <span class="skills_number">70%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_js"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Angular</h3>
                                <span class="skills_number">70%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_angular"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- skill 2 -->
                <div class="skill_content skills_close" [ngClass]="{ 'skill_content skills_open': isActive('Two') }" (click)="setActive('Two')">
                    <div class="skills_header" id="skills_header">
                        <i class="uil uil-server-network skills_icon"></i>
                        <div>
                            <h1 class="skills_title">Backend Devloper</h1>
                            <span class="skills_subtitle">More than 06 Months</span>
                        </div>
                        <i class="uil uil-angle-down skills_arrow"></i>
                    </div>
                    <div class="skills_list grid" *ngIf="isActive('Two')">
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Java</h3>
                                <span class="skills_number">65%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_java"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Node Js</h3>
                                <span class="skills_number">50%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_node"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Express Js</h3>
                                <span class="skills_number">50%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_express"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">MySql</h3>
                                <span class="skills_number">60%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_mysql"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                 <!-- skill 3 -->
                 <div class="skill_content skills_close" [ngClass]="{ 'skill_content skills_open': isActive('Three') }" (click)="setActive('Three')">
                    <div class="skills_header" id="skills_header">
                        <i class="uil uil-swatchbook skills_icon"></i>
                        <div>
                            <h1 class="skills_title">Designer</h1>
                            <span class="skills_subtitle">More than ## Months/Years</span>
                        </div>
                        <i class="uil uil-angle-down skills_arrow"></i>
                    </div>
                    <div class="skills_list grid" *ngIf="isActive('Three')">
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Figma</h3>
                                <span class="skills_number">40%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_figma"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Sketch</h3>
                                <span class="skills_number">40%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_sketch"></span>
                            </div>
                        </div>
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name">Photoshop</h3>
                                <span class="skills_number">50%</span>
                            </div>
                            <div class="skills_bar">
                                <span class="skills_percentage skills_photoshop"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Qualifications -->
    <section class="qualification section">
        <h2 class="section_title">Qualifications</h2>
        <span class="section_subtitle">My Persnol journy</span>

        <div class="qualification_container container">
            <div class="qualification_tabs">
                <div class="qualification_button button--flex qualification_active" data-target="#education">
                    <i class="uil uil-graduation-cap qualification_icon"></i>
                    Education
                </div>

                <div class="qualification_button button--flex" data-target="#work">
                    <i class="uil uil-briefcase-alt qualification_icon"></i>
                    Work
                </div>
            </div>
            <div class="qualification_section">
                <!-- Qualifications content 1-->
                <div class="qualification_content qualification_active" data-content id="education">
                    <!-- Qualification 1 -->
                    <div class="qualification_data">
                        <div>
                            <h3 class="qualification_title">Computer Engineering</h3>
                            <span class="qualification_subtitle">Mumbai University</span>
                            <div class="qualification_calender">
                                <i class="uil uil-calendar-alt"></i>
                                2019 - 2022
                            </div>
                        </div>

                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div>
                    </div>
                    <!-- Qualification 2 -->
                    <div class="qualification_data">
                        <div></div>
                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div>
                        <div>
                            <h3 class="qualification_title">Diploma in Computer Engineering</h3>
                            <span class="qualification_subtitle">MSBTE</span>
                            <div class="qualification_calender">
                                <i class="uil uil-calendar-alt"></i>
                                2022 - 2023
                            </div>
                        </div>
                    </div>
                    <!-- Qualification 3 -->
                    <div class="qualification_data">
                        <div>
                            <h3 class="qualification_title">Web Devloper</h3>
                            <span class="qualification_subtitle">Pune - Adiflex Technology</span>
                            <div class="qualification_calender">
                                <i class="uil uil-calendar-alt"></i>
                                2019 - 2022
                            </div>
                        </div>

                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>    
                        </div>
                    </div>
                    <!-- Qualification 4 -->
                    <div class="qualification_data">
                        <div></div>
                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div>
                        <div>
                            <h3 class="qualification_title">Internship (Java & SQL)</h3>
                            <span class="qualification_subtitle">At TCR Innovation</span>
                            <div class="qualification_calender">
                                <i class="uil uil-calendar-alt"></i>
                                2022
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Qualifications content 2-->
                <div class="qualification_content" data-content id="work">
                    <!-- Qualification 1 -->
                    <div class="qualification_data">
                        <div>
                            <h3 class="qualification_title">Trainee Engineer</h3>
                            <span class="qualification_subtitle">Adiflex Technology</span>
                            <div class="qualification_calender">
                                <i class="uil uil-calendar-alt"></i>
                                5-Jul-2022 - 1-Dec-2022 
                            </div>
                        </div>

                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div>
                    </div>
                    <!-- Qualification 2 -->
                    <div class="qualification_data">
                        <div></div>
                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>
                        </div>
                        <div>
                            <h3 class="qualification_title">Software Engineer</h3>
                            <span class="qualification_subtitle">Adiflex Technology</span>
                            <div class="qualification_calender">
                                <i class="uil uil-calendar-alt"></i>
                                1-Dec-2022 - {{todaysDate | date:'dd-MMM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <!-- Qualification 3
                    <div class="qualification_data">
                        <div>
                            <h3 class="qualification_title">Web Devloper</h3>
                            <span class="qualification_subtitle">Pune - Adiflex Technology</span>
                            <div class="qualification_calender">
                                <i class="uil uil-calendar-alt"></i>
                                2019 - 2022
                            </div>
                        </div>

                        <div>
                            <span class="qualification_rounder"></span>
                            <span class="qualification_line"></span>    
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Service Tab/ section -->
    <section class="services section" id="services">
        <h2 class="section_title">Services</h2>
        <span class="section_subtitle">What i Offer</span>

        <div class="services_container container grid">
            <!-- Service 1 -->
            <div class="services_content">
                <div>
                    <i class="uil uil-web-grid services_icon"></i>
                    <h3 class="services_title">UI/UX <br> Designer</h3>
                </div>
                <span class="button button--flex button--small button-link services_button">
                    View more
                    <i class="uil uil-arrow-right button_icon"></i>
                </span>

                <div class="services_model">
                    <div class="services_modal-content">
                        <h4 class="services_modal-title">UI/UX <br> Designer</h4>
                        <i class="uil uil-times services_model-close"></i>

                        <ul class="services_model-services grid">
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>I devlope the user interface. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Web page devlopement. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Write backend services. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>I crate UX element interaction </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Service 2 -->
            <div class="services_content">
                <div>
                    <i class="uil uil-arrow services_icon"></i>
                    <h3 class="services_title">Frontend <br> Devloper</h3>
                </div>
                <span class="button button--flex button--small button-link services_button">
                    View more
                    <i class="uil uil-arrow-right button_icon"></i>
                </span>

                <div class="services_model">
                    <div class="services_modal-content">
                        <h4 class="services_modal-title">Frontend <br> Devloper</h4>
                        <i class="uil uil-times services_model-close"></i>

                        <ul class="services_model-services grid">
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>I devlope the user interface. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Web page devlopement. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Write backend services. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>I crate UX element interaction </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Service 3 -->
            <div class="services_content">
                <div>
                    <i class="uil uil-brackets-curly services_icon"></i>
                    <h3 class="services_title">Backend <br> Devloper</h3>
                </div>
                <span class="button button--flex button--small button-link services_button">
                    View more
                    <i class="uil uil-arrow-right button_icon"></i>
                </span>

                <div class="services_model">
                    <div class="services_modal-content">
                        <h4 class="services_modal-title">Backend <br> Devloper</h4>
                        <i class="uil uil-times services_model-close"></i>

                        <ul class="services_model-services grid">
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>I devlope the user interface. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Web page devlopement. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Write backend services. </p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>I crate UX element interaction </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <section class="portfolio section" id="portfolio">
        <h2 class="section_title">Portfolio</h2>
        <span class="section_subtitle">Most recent work</span>

        <div class="portfolio_container container swiper-container">
            <div class="swiper-wrapper">
                <!-- Portfolio 1 -->
                <div class="portfolio_content grid swiper-slide">
                    <img src="../../../../../assets/images/portfolio1.jpg" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Modern Website</h3>
                        <p class="portfolio_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam aperiam quia, voluptatum sunt esse repudiandae cumque obcaecati iusto nihil. Possimus architecto dolorum consequatur corporis modi vero dolores itaque, ut molestias!</p>
                        <a href="#" class="button button--flex button--small portfolio_button">
                            Demo
                            <i class="uil uil-arrow-right button_icon"></i>
                        </a>
                    </div>
                </div>
                <!-- Portfolio 2 -->
                <div class="portfolio_content grid swiper-slide">
                    <img src="../../../../../assets/images/portfolio2.jpg" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Modern Website</h3>
                        <p class="portfolio_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam aperiam quia, voluptatum sunt esse repudiandae cumque obcaecati iusto nihil. Possimus architecto dolorum consequatur corporis modi vero dolores itaque, ut molestias!</p>
                        <a href="#" class="button button--flex button--small portfolio_button">
                            Demo
                            <i class="uil uil-arrow-right button_icon"></i>
                        </a>
                    </div>
                </div>
                <!-- Portfolio 3 -->
                <div class="portfolio_content grid swiper-slide">
                    <img src="../../../../../assets/images/portfolio3.jpg" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Modern Website</h3>
                        <p class="portfolio_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam aperiam quia, voluptatum sunt esse repudiandae cumque obcaecati iusto nihil.</p>
                        <a href="#" class="button button--flex button--small portfolio_button">
                            Demo
                            <i class="uil uil-arrow-right button_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next">
                <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
            </div>
            <div class="swiper-button-prev">
                <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- Project In Mind//  Featurs project -->
    <section class="project section">
        <div class="project_bg">
            <div class="project_container container grid">
                <div class="project_data">
                    <h2 class="project_title">You have a new project</h2>
                    <p class="project_description">Contact me now and get a 20 to 30% discount on your new project</p>
                    <a href="#contact" class="button button--flex button--white">
                        Contact Me
                        <i class="uil uil-message project_icon button_icon"></i>
                    </a>
                </div>

                <img src="../../../../../assets/images//project.jpg" alt="" class="project_img">
            </div>
        </div>
    </section>

    <!-- testimonials -->
    <section class="testimonials section">
        <h2 class="section_title">Testimonials</h2>
        <span class="section_subtitle">My Client saying</span>

        <div class="testimonials_container container swiper-container">
            <div class="swiper-wrapper">
                 <!-- testimonial 1 -->
                 <div class="testimonial_content swiper-slide">
                    <div class="testimonial_data">
                        <div class="testimonial_header">
                            <img src="../../../../../assets/images/noneProfile.png" alt="" class="testimonial_img">

                            <div>
                                <h3 class="testimonial_name">Unknown User</h3>
                                <span class="testimonial_client">Client</span>
                            </div>
                        </div>
                        <div>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                        </div>
                    </div>

                    <p class="testimonial_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus quidem velit doloremque!</p>
                 </div>
                 <!-- testimonial 2 -->
                 <div class="testimonial_content swiper-slide">
                    <div class="testimonial_data">
                        <div class="testimonial_header">
                            <img src="../../../../../assets/images/noneProfile.png" alt="" class="testimonial_img">

                            <div>
                                <h3 class="testimonial_name">Unknown User</h3>
                                <span class="testimonial_client">Client</span>
                            </div>
                        </div>
                        <div>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                        </div>
                    </div>

                    <p class="testimonial_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus quidem velit doloremque!</p>
                 </div>
                 <!-- testimonial 3 -->
                 <div class="testimonial_content swiper-slide">
                    <div class="testimonial_data">
                        <div class="testimonial_header">
                            <img src="../../../../../assets/images/noneProfile.png" alt="" class="testimonial_img">

                            <div>
                                <h3 class="testimonial_name">Unknown User</h3>
                                <span class="testimonial_client">Client</span>
                            </div>
                        </div>
                        <div>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                            <i class="uil uil-star testimonial_icon-star"></i>
                        </div>
                    </div>

                    <p class="testimonial_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus quidem velit doloremque!</p>
                 </div>

            </div>
            <div class="swiper-pagination swipwe-pagination-testimonials"></div>
        </div>
    </section>

    <!-- contact me section -->
    <section class="contact section" id="contact">
        <h2 class="section_title">Contact Me</h2>
        <span class="section_subtitle">Get in touch</span>

        <div class="contact_container container grid">
            <div>
                <div class="contact_information">
                    <i class="uil uil-phone contact_icon"></i>

                    <div>
                        <h3 class="contact_title">Call Me</h3>
                        <span class="contact_subtitle">878-864-2935</span>
                    </div>
                </div>
                <div class="contact_information">
                    <i class="uil uil-envelope contact_icon"></i>

                    <div>
                        <h3 class="contact_title">Email</h3>
                        <span class="contact_subtitle">patiljaikishan4@gmail.com</span>
                    </div>
                </div>
                <div class="contact_information">
                    <i class="uil uil-map-marker contact_icon"></i>

                    <div>
                        <h3 class="contact_title">Location</h3>
                        <span class="contact_subtitle">Waredi, Pen 402107</span>
                    </div>
                </div>
            </div>
            <form [formGroup]="myForm" class="contact_form grid">
                <div class="contact_inputs grid">
                    <div class="contact_content">
                        <label for="" class="contact_label">Name <span class="invalid">*</span></label>
                        <input [formControlName]="form_models.NAME" type="text" class="contact_input">
                        <span *ngIf="name.invalid && (name.dirty || name.touched)">
                            <span class="invalid" *ngIf="name.errors.required">
                                Name is required
                            </span>
                            <span class="invalid" *ngIf="name?.errors['minlength']">
                                Name must be above 3 character length
                            </span>
                            <span class="invalid" *ngIf="name?.errors['maxlength']">
                                Name must be below 20 character length
                            </span>
                        </span>
                    </div>
                    <div class="contact_content">
                        <label for="" class="contact_label">Email <span class="invalid">*</span></label>
                        <input [formControlName]="form_models.EMAIL" type="email" class="contact_input">
                        <span *ngIf="email.invalid && (email.dirty || email.touched)">
                            <span class="invalid" *ngIf="email.errors.required">
                                Email is required
                            </span>
                            <span class="invalid" *ngIf="email?.errors['pattern']">
                                Enter valid email
                            </span>
                        </span>
                    </div>
                </div>
                <div class="contact_content">
                    <label for="" class="contact_label">Project</label>
                    <input [formControlName]="form_models.PROJECT" type="text" class="contact_input">
                </div>
                <div class="contact_content">
                    <label for="" class="contact_label">Message</label>
                    <textarea [formControlName]="form_models.MESSAGE" class="contact_input"  name="" id="" cols="0" rows="7"></textarea>
                </div>

                <div>
                    <button (click)="submitForm()" class="button button--flex submit-btn" [disabled]="myForm.invalid">
                        Send Message
                        <i class="uil uil-message button_icon"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!-- Footer  -->
    <footer class="footer">
        <div class="footer_bg">
            <div class="footer_container container grid">
                <div>
                    <h1 class="footer_title">Jaikishan Patil</h1>
                    <span class="footer_subtitle">Full stack devloper</span>
                </div>

                    <ul class="footer_links">
                        <li>
                            <a href="#services" class="footer_link">Services</a>
                        </li>
                        <li>
                            <a href="#portfolio" class="footer_link">Portfolio</a>
                        </li>
                        <li>
                            <a href="#contact" class="footer_link">Contact Me</a>
                        </li>
                    </ul>

                    <div class="footer_socials">
                        <a href="#" class="footer_social">
                            <i class="uil uil-instagram"></i>
                        </a>
                        <a href="#" class="footer_social">
                            <i class="uil uil-facebook-f"></i>
                        </a>
                        <a href="#" class="footer_social">
                            <i class="uil uil-github-alt"></i>
                        </a>
                        <a href="#" class="footer_social">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>
                    </div>
                
            </div>
            <p class="footer_copy">&#169; Jaikishan. All right reserved</p>
        </div>
    </footer>

    <!-- Scroll on top -->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup_icon"></i>
    </a>
</main>
