<app-header></app-header>
<main class="main">
    <div class="home row">
        <div class="col-sm-6 m1">
            <h1>Iam Jaikishan Patil</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit eos, sit alias vero illum laboriosam deserunt porro laudantium ullam exercitationem vel quibusdam obcaecati aliquam cupiditate error a dicta dolor? Culpa?</p>
        </div>
        <div class="col-sm-6 m2">
            <img src="../../../../../assets/images/Jaikishan_p.png" alt="Image not found">
        </div>
    </div>
</main>
<!-- <app-footer></app-footer> -->