<app-header></app-header>
<main class="main">
    <section class="home section" id="home">
        <div class="home_container container grid">
            <div class="home_content grid">
                <div class="home_social">
                    <a href="#" class="home_social-icon">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                    <a href="#" class="home_social-icon">
                        <i class="uil uil-dribbble"></i>
                    </a>
                    <a href="#" class="home_social-icon">
                        <i class="uil uil-github-alt"></i>
                    </a>
                </div>
                <div class="home_img">
                    <svg class="home_blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                            130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                            97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                            0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                            <image class="home_blob-img" x="14" y="-8" xlink:href="../../../../../assets/images/jaikishan_img1.png"/>
                        </g>
                    </svg>
                </div>
                <div class="home_data">
                    <h1 class="home_title">Hi, Iam Jaikishan</h1>
                    <h3 class="home_subtitle">Full stack devloper</h3>
                    <p class="home_description"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, nesciunt sit! Commodi dolorem est quod, adipisci quo veniam explicabo corrupti iure tenetur ab necessitatibus</p>
                    <a href="#contact" class="button button--flex">
                        Contact Me <i class="uil uil-message button_icon"></i>
                    </a>
                </div>
            </div>
            <div class="home_scroll">
                <a href="#about" class="home_scroll-button button--flex">
                    <i class="uil uil-mouse-alt home_scroll-mouse"></i>
                    <span class="home_scroll-name">
                        Scroll Down <i class="uil uil-arrow-down home_scroll-arrow"></i>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="about section" id="about">
        <h2 class="section_title">About Me</h2>
        <span class="section_subtitle">My Introduction</span>

        <div class="about_container container grid">
            <img src="../../../../../assets/images/jaikisha_about_img.png" alt="" class="about_img">

            <div class="about_data">
                <p class="about_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatem adipisci, eius quos delectus molestiae harum tempore vero rem, magni ducimus, consequuntur dolor a architecto deleniti esse nulla. Architecto, illum?
                </p>
                <div class="about_info">
                    <div>
                        <span class="about_info-title">01+</span>
                        <span class="about_info-name">Years <br> experience</span>
                    </div>
                    <div>
                        <span class="about_info-title">09+</span>
                        <span class="about_info-name">Completed <br> projects</span>
                    </div>
                    <div>
                        <span class="about_info-title">01+</span>
                        <span class="about_info-name">Companies <br> Worked</span>
                    </div>
                </div>
                <div class="about_buttons">
                    <a download="" href="../../../../../assets/pdf/Jaikishan Dhanaji Patil Resume(new).pdf" class="button button--flex">
                        Download CV<i class="uil uil-download-alt button_icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>